html {
    display: flex;
    flex-direction: row;
    background-color: #d3b8ae;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
}